# Archivos del SDK de Flutter / Dart
.dart_tool/
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
packages/
pubspec.lock

# IDE / editores
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
.atom/
.swiftpm/

# SO / miscelánea
.DS_Store
Thumbs.db
*.class
*.log
*.pyc
*.o
*.prof
*.red
migrate_working_dir/